.contact-detail-card{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-evenly;
    background: #130f2a;
    border-radius:0.65rem;
    border:1.5px solid #6751b9;
    padding:1.5rem;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.contact-detail-card .icon{
    width:4rem;
    height:4rem;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 0.5rem;
    background:#3d3072;
    margin-bottom:0.8rem;
}
.icon img{
    width:1.8rem;
    height:auto;
    object-fit:contain;
}

